<li>
	<%= gravatar_for user, size: 52 %>
	<%= link_to user.name, user %>
	<% if current_user.admin? && !current_user?(user) %>
	<%# DELETEリクエストはブラウザ側ではサポートしていないので、ブラウザがJavaScriptを利用してリクエストを偽造するようにしている。JavaScriptがオフのブラウザでもDELETEを使えるようにする方法もあるらしい。 %>
		| <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
	<% end %>
</li>